@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}
$renkbody: #191B1D;
$renkpembe: #BC1E4A;

.flexcol {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
.flexrow {
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $renkbody;
    height:100vh;
    @extend .flexcol;
}
.kutu {
    width:418px;
    height:108px;
    background-color: $renkpembe;
    text-align:center;
    line-height:54px;
    color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    margin-bottom:139px;
    p{
        font-size: 16px;
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
    }
}
.checkbox {
    margin-bottom: 40px;;
    p {
        font-size: 36px;
        color:white;
        font-weight:bold;
        margin-bottom:30px;
        text-align: center;
    }
    span {
        font-size: 16px;
        color:white;
        &:nth-of-type(1) {
            margin-right:10px;
        }
        &:nth-of-type(2) {
            margin-left:10px;
        }
    }
    input {
        display:none;
    }
    label {
        display:inline-block;
        width:60px;
        height:32px;
        background-color: $renkpembe;
        border-radius: 32px;
        position: relative;
        &::before {
            content: '';
            background-color: #fff;
            width:23.42px;
            height:23.07px;
            display: block;
            position:absolute;
            right:4.7px;
            top:4.7px;
            border-radius:50%;
        }
    }
    &-container {
        @extend .flexrow;
    }
}
.card {
    @extend .flexrow;
    flex-wrap: wrap;
    gap: 20px;
    &-kutu {
        width:375px;
        height:617px;
        background-color: #22262C;
        border-radius: 10px;
        color:white;
        margin-bottom: 50px;
        
    }
    h3 {
        font-size: 25px;
        font-weight: 400;
        text-align:center;
        margin-bottom:18px;
        margin-top: 37px;
    }
    h1 {
        font-size: 56px;
        font-weight: 700;
        text-align:center;
        margin-bottom:66px;
        span {
            font-size: 22px;
        }
    }
    ul {
        width:215px;
        margin-left:70px;
        margin-bottom:48px;
        li {
            line-height: 40px;
            &::before {
                content:'\2022';
                color: $renkpembe;
                font-weight: bold;
                display: inline-block; 
                width: 1em;
                margin-left: -1em;
            }
        }
    }
    a {
        text-align:center;
        color:white;
        font-weight: 400;
        font-size:18px;
        border:1px solid $renkpembe;
        width:243px;
        height:54px;
        margin: 0 auto;
        @extend .flexrow;
        border-radius:5px;
        &:hover {
            background-color: $renkpembe;
        }
    }
}
.card {
    &-kutu {
        &:nth-of-type(2) {
            ul {
                width:299px;
                li {
                    margin-left:-1rem;
                }
            }
            a {
                background-color: $renkpembe;
            }
            h1 {
                margin-bottom:0;
            }
            select {
                margin-top:20px;
                margin-bottom:8px;
                width:297px;
                height:68px;
                background-color: transparent;
                border-radius:5px;
                outline:none;
                color:white;
                font-size:20px;
                margin-left:auto;
                margin-right:auto;
                display: block;
                padding-left:40px;
                option {
                    color: white;
                }
            }
            p {
                font-size: 14px;
                color:$renkpembe;
                margin-bottom:31px;
                position: relative;
                left:60px;

            }
        }
        &:nth-of-type(3) {
            h1 {
                font-size: 36px;
                margin-bottom: 111px;
                margin-top:40px;
            }
            ul {
                width:254px;

            }
        }
    }
}